GLFW_ICON ICON "icon.ico"

1 VERSIONINFO
FILEVERSION     1,0,1,1
PRODUCTVERSION  1,0,0,1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    //BLOCK "080904E4"  // English UK
    BLOCK "040904E4"    // English US
    BEGIN
      //VALUE "CompanyName", "issymissy"
      VALUE "FileDescription", "Flow fields demo utilizing raylib"
      VALUE "FileVersion", "1.1.1"
      VALUE "InternalName", "flowyboy"
      VALUE "LegalCopyright", "(c) 2025 izzyfix"
      //VALUE "OriginalFilename", "raylib_app"
      VALUE "ProductName", "whats a product"
      VALUE "ProductVersion", "1.0.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    //VALUE "Translation", 0x809, 1252  // English UK
    VALUE "Translation", 0x409, 1252    // English US
  END
END
